/* css/input.css */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    --font-display: 'Bebas Neue', sans-serif;

    --color-bg: var(--bg);
    --color-fg: var(--fg);
    --color-bgSec: var(--bgSec);
    --color-gray: var(--gray);
    --color-first: var(--first);
    --color-second: var(--second);
    --color-third: var(--third);
    --color-fourth: var(--fourth);
}

@layer base {
    :root {
        --bg: #f4f4f1;
        --fg: #0f0f10;
        --bgSec: #e8e8e2;
        --gray: #2b2b2d;
        --first: #2F2FE4;
        --second: #162E93;
        --third: #1A1953;
        --fourth: #FFDD9C;
    }

    .dark {
        --bg: #0f0f10;
        --fg: #f4f4f1;
        --bgSec: #171718;
        --gray: #9d9d8b;

        /* .blue-sky {
            background-image: url('../public/assets/dark-blue.jpg');
        } */

        .mode-ball {
            transform: translateX(105%);
        }
    }

    ::selection {
        background-color: #2F2FE4;
        /* cor de fundo */
        color: #c6dbff;
        /* cor do texto */
    }

    ::-webkit-selection {
        background-color: #2F2FE4;
        color: #c6dbff;
    }

    ::-webkit-scrollbar {
        width: 0px;
        display: none;
    }

    * {
        color: var(--fg);
        font-family: 'Inter';
        transition: background-color 0.3s, color 0.3s;
    }

    p {
        font-size: 20px;
    }


    h1 {
        font-family: 'Elms Sans';
        font-weight: 600;

        span {
            font-family: 'Elms Sans';
            font-weight: 700;
        }
    }

    .sun {
        background-image: url('../public/icons/white-sun.png');
    }

    .moon {
        background-image: url('../public/icons/white-moon.png');
    }

    .mode-ball {
        transform: translateX(-20%);
    }


    .circle {
        height: 24px;
        width: 24px;
        border-radius: 24px;
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: 99999999;
        background-color: var(--first);
        /* so that it stays on top of all other elements */
    }


    @keyframes floatIdle {

        0%,
        100% {
            transform: translateY(0px) rotateX(10deg) rotateZ(0deg);
        }

        50% {
            transform: translateY(-12px) rotateX(16deg) rotateZ(3deg);
        }
    }

    .animate-float-idle {
        animation: floatIdle 4s ease-in-out infinite;
        transform-style: preserve-3d;
    }

    aside::-webkit-scrollbar {
        display: none;
    }

    aside {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

}